/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2018, 12:18:18 AM
    Author     : Raghda
*/

input{
    width: 100%;
    border: none;
   
}

#btn{
    width: 50%;
    alignment-adjust: middle;
    
}


#wrapper{
    max-width:940px;
    margin:0 auto;
}
#gallery{
    margin:0;
    padding:0;
    list-style:none;
}

#gallery li{
    float:left;
    width:20%;
    margin:2.5%;
    
    
}

#gallery li a p {
    margin:0;
    Padding:5%;
    font-size:0.75ems;
    color: black;
}
#img{
    max-width:100%;
}