
input,select{
    width: 100%;
    border: none;
    border-bottom: 2px solid #2194ddcc;
}
input:hover ,select:hover{
    border-bottom: 1px solid deeppink;  
}
input:focus,select:hover{
    background-color: #ffd7fd;
}

form{
    background-color:aliceblue;

}
table{
    background-color:aliceblue;   
}
th,tr,td{
    margin: auto;
    padding: 10px;
}
footer{
    text-align: center;
    color: white;
    background-color: #005e9e;
}
.container {
    position: relative;
    text-align: center;

}
.dropbtn {
    background-color: #228eab;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;


}

.dropdown {
    position: relative;
    display: inline-block;
    left:43%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #2194ddcc;
}

.mainOption{
    justify-content: center;
}
.center{
    margin: auto;
    width: 55%;
    padding: 10px;
}
.btn{
    background-color: #228eab;
    color: white;
    font-size: 14px;
    border: none;
    width: 45%;
}
.btn:hover{
    background-color: #2194ddcc;

}

#header,#footer {
    background-color:aliceblue;
}


#text{
    position: absolute;
    top: 40%;
    left: 26%;
}